.big-icon {
	display: inline-block;
	font-size: 159px;
	margin-top: -120px;
	margin-left: -91px;
}

.heartcenter {

	text-align: center;

}

.global-color_sun .global-text-color {
 color: #CC0299;

}



.heartcenter {
	color: #BFEA30;

}